[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
statsmodels = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
missingno = "*"
xgboost = "*"
threadpoolctl = "==3.1.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
