[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xgboost = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
watermark = "*"
statsmodels = "*"

[dev-packages]
ipykernel = "*"
